<% tags_list = object.tags(options.item) %>
<% if tags_list.size > 0 %>
  <div class="parameters <%= rotate(:odd_even) %>">
    <% unless options.title.empty? %>
      <h4><%= options.title %></h4>
    <% end %>
		<ul>
  		<% tags_list.each do |tag| %>
				<li>
					<span class="name"><%= tag.name %></span>
					<span class="type"><%= format_types(tag.types, false) %></span>
					<span class="text"><%= htmlify(tag.text) %></span>
				</li>
  		<% end %>
	  </ul>
	</div>
<% end %>
