<% unless @meths.empty? %>
  <div id="Services" class="method_details_list">
    <h2><%= object.name.to_s.gsub(/Controller/,"") %></h2>
	<% require 'pry' %>
	<p><%= binding.pry %></p>

    <% @meths.each_with_index do |meth, i| %>
		<h3 class="resource_url"><strong><%= meth.tag(:resource).text %></strong> [<%= meth.tag(:action).text %>]</h3>
		<p><%= meth.docstring %></p>
		
		<div class="parameters">
			<div class="required">
				<% if meth.tags(:required).size %>
					<h4>Required Parameters</h4>
					<% meth.tags(:required).each do |required| %>
					<pre class="example_code required">required.text</pre>
					<% end %>
				<% end %>
			</div>
		
			<div class="optional">
				<% if meth.tags(:optional).size %>
					<h4>Optional Parameters</h4>
					<% meth.tags(:optional).each do |optional| %>
						<pre class="example_code">optional.text</pre>
						<% end %>
				<% end %>
			</div>
		<div class="clear"></div>
		</div>
		
		<div class="request_response">
			<div class="requests">
				<% if meth.tags(:required).size %>
					<h4>Required Parameters</h4>
					<% meth.tags(:required).each do |required| %>
					<pre class="example_code required">required.text</pre>
					<% end %>
				<% end %>
			</div>
			
			<div class="responses">
				<% if meth.tags(:optional).size %>
					<h4>Optional Parameters</h4>
					<% meth.tags(:optional).each do |optional| %>
						<pre class="example_code">optional.text</pre>
						<% end %>
				<% end %>
			</div>
		<div class="clear"></div>
		</div>
		
		<div class="response_fields">
			
		<div class="clear"></div>
		</div>
		
    <% end %>
  </div>
<% end %>