<% unless @meths.empty? %>
  <div id="Services" class="method_details_list">
    <% @meths.each_with_index do |meth, i| %>
		<div class="method">
      <h3><%= meth.tag(:resource).text %></h3>
			<p class="method_desc"><%= meth.docstring %></p>

      <% if meth.tags(:url).size > 0 %>
        <div class="resource_url <%=rotate(:odd_even)%>">
          <h4>URL</h4>
          <span class="action"><%= meth.tag(:action).text %></span>
          <span class="url"><%= meth.tag(:url).text %></span>
        </div>
      <% end %>

			<div class="parameters">
				<% if meth.tags(:required).size > 0 %>
					<div class="required  <%=rotate(:odd_even)%>">
						<h4>Required Parameters</h4>
						<% meth.tags(:required).each do |required| %>
							<ul>
								<li>
									<span class="name"><%= required.name%></span>
									<span class="type"><%= format_types(required.types, false)%></span>
									<span class="text"><%= required.text%></span>
								</li>
							</ul>
						<% end %>
					</div>
				<% end %>

				<% if meth.tags(:optional).size > 0 %>
					<div class="optional  <%=rotate(:odd_even)%>">
						<h4>Optional Parameters</h4>
						<% meth.tags(:optional).each do |optional| %>
							<ul>
								<li>
									<span class="name"><%= optional.name%></span>
									<span class="type"><%= format_types(optional.types, false) %></span>
									<span class="text"><%= optional.text%></span>
								</li>
							</ul>
						<% end %>
					</div>
				<% end %>
			</div><!-- parameters -->

			<% if meth.tags(:response_field).size > 0 %>
				<div class="response_fields  <%=rotate(:odd_even)%>">
					<h4>Response Fields</h4>
					<% meth.tags(:response_field).each do |response_field| %>
						<ul>
							<li>
								<span class="name"><%= response_field.name%></span>
								<span class="type"><%= format_types(response_field.types, false)%></span>
								<span class="text"><%= response_field.text%></span>
							</li>
						</ul>
					<% end %>
				</div>
			<% end %>

			<% if meth.tags(:example_request).size > 0 %>
				<div class="examples">
					<h4>Examples</h4>
					<% meth.tags(:example_request).each_with_index do |example_request, i| %>
						<div class="example">
							<% example_request_description = meth.tags(:example_request_description)[i] %>
							<% example_response = meth.tags(:example_response)[i] %>
							<% example_response_description = meth.tags(:example_response_description)[i] %>
							<span class="description">
								<% if example_request_description %>
									<% if example_request_description.text =~ /\n/im %>
										<%= htmlify(example_request_description.text, :markdown) %>
									<% else %>
										<%= example_request_description.text %>
									<% end %>
								<% end %>
							</span>
							<span class="hash request">
								<strong class="type">Request</strong>
								<% if example_request %>
									<% if example_request.text =~ /\n/im %>
										<%= htmlify(example_request.text, :markdown) %>
									<% else %>
										<%= example_request.text %>
									<% end %>
								<% end %>
							</span>
							<span class="hash response">
								<strong class="type">Response</strong>
								<% if example_response %>
									<% if example_response.text =~ /\n/im %>
										<%= htmlify(example_response.text, :markdown) %>
									<% else %>
										<%= example_response.text %>
									<% end %>
								<% end %>
							</span>
							<span class="description">
								<% if example_response_description %>
									<% if example_response_description.text =~ /\n/im %>
										<%= htmlify(example_response_description.text, :markdown) %>
									<% else %>
										<%= example_response_description.text %>
									<% end %>
								<% end %>
							</span>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
    <% end %>
  </div>
<% end %>
